* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bird-container {
  position: relative;
}

.bird-01, 
.bird-02, 
.bird-03 {
  position: relative;
}

.bird-01 .left-wing {
  --c: 18px; /* control the curvature (works with percentage) */
  height: 20px;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(70% var(--c) at bottom,#0000 calc(100% - 2px),#000);
  background: #000000;
  border-top-left-radius: var(--c);
  border-top-right-radius: var(--c);
}

.bird-01 .right-wing {
  --c: 18px; /* control the curvature (works with percentage) */
  height: 20px;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(70% var(--c) at bottom,#0000 calc(100% - 2px),#000);
  background: #000000;
  border-top-left-radius: var(--c);
  border-top-right-radius: var(--c);
  position: absolute;
  top: 0;
  left: 20px;
}

.bird-02 {
  position: absolute;
  top: 20px;
  left: 30px
}

.bird-02 .left-wing {
  --c: 15px; /* control the curvature (works with percentage) */
  height: 18px;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(70% var(--c) at bottom,#0000 calc(100% - 2px),#000);
  background: #000000;
  border-top-left-radius: var(--c);
  border-top-right-radius: var(--c);
}

.bird-02 .right-wing {
  --c: 15px; /* control the curvature (works with percentage) */
  height: 18px;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(70% var(--c) at bottom,#0000 calc(100% - 2px),#000);
  background: #000000;
  border-top-left-radius: var(--c);
  border-top-right-radius: var(--c);
  position: absolute;
  top: 0;
  left: 20px;
}

.bird-03 {
  bottom: 15px;
  left: 70px;
}

.bird-03 .left-wing {
  --c: 10px; /* control the curvature (works with percentage) */
  height: 12px;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(70% var(--c) at bottom,#0000 calc(100% - 2px),#000);
  background: #000000;
  border-top-left-radius: var(--c);
  border-top-right-radius: var(--c);
}

.bird-03 .right-wing {
  --c: 10px; /* control the curvature (works with percentage) */
  height: 12px;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(70% var(--c) at bottom,#0000 calc(100% - 2px),#000);
  background: #000000;
  border-top-left-radius: var(--c);
  border-top-right-radius: var(--c);
  position: absolute;
  top: 0;
  left: 12px;
}